# TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkNzJhMjZjODA4YmQ1NzQ0Y2E0ODViZiIsInVzZXJuYW1lIjoiakh5V3pHN2xhRCIsImV4cCI6MTU3MDM4NTc3MjU4NCwiaWF0IjoxNTY3NzkzNzcyfQ.IkSlyijj9JJCjIxWoMB0lOZ-iRKG1uZNNa6ScQXOATU #Allows to persist bot sessions
